[user]
	name = iwaltgen
	email = iwaltgen@gmail.com
	signingkey = BD43BAEEFF6F625A

[core]
	excludesfile = /Users/iwaltgen/.gitignore_global
	pager = delta

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[commit]
	gpgsign = true

[gpg]
	program = gpg

[init]
	# https://github.com/github/renaming/
	defaultBranch = main

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
	ff = only
	rebase = false

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[delta]
	features = side-by-side line-numbers decorations
