[user]
	name = iwaltgen
	email = iwaltgen@gmail.com
	signingkey = BD43BAEEFF6F625A

[core]
	excludesfile = /Users/iwaltgen/.gitignore_global
	pager = delta

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[commit]
	gpgsign = true

[gpg]
	program = /usr/local/bin/gpg

[init]
	# https://github.com/github/renaming/
	defaultBranch = main

[pull]
	ff = only
	rebase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[delta]
	features = side-by-side line-numbers decorations
